---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJmaXJlYmFzZS1hZG1pbnNkay1vb3E1dEBhcmtoYW0tYWFkNzUuaWFtLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJhdWQiOiJodHRwczovL29hdXRoMi5nb29nbGVhcGlzLmNvbS90b2tlbiIsImV4cCI6MTU5OTA3MjExMywiaWF0IjoxNTk5MDcxOTkzLCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvZGV2c3RvcmFnZS5mdWxsX2NvbnRyb2wifQ.J0Puz89Ow0Gly8dcu3Ja5kO2eTFf8wxaa95B_R5-eeg9Fdx6L-RZTr7jdE-wsGTilzkv8zdgAfUv6RfJmA3MQm-EFX09GubsjIKDG12lbbRVKgVJweEX40bdrb9fUcSkMSC4aFF71ZVVLVR11xxLPK0Ec9Ja63Q_kHbO96VQSbPtNKy9iyTcJMjze1RPtixfqstejYDoiuBdg_aw-qlm1b-YIYsPCBL2jG3UN9xwa15mLjeUsL20nvjBqVEoh0zTncEeFjot0SICNLagY10JuJ1Em15p9GErvYXyzzbOZDmUsFVlqGoOxDEhyMpvq_BXbkSN2SCIK4kX3MJYmqDroQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"ya29.c.Ko8B2wcJfhTTBWAFb3P9lNWU3Snr3KT-kQ_XXPd1dQ4S3fwwLvXGzuNq57-mvcdbtQ36Jxkiv4KTFJ1fjewGmQxzXV38V-thx2_2ldePh3u-zM_hWX0KN0xBLKiNY8ToYeSvjG9-M6bN28JwDsWRm4mHbznAMBlmqjb31WjAJgbmHBsQ0AiUF01QQfWLNIRa_N8","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Wed, 02 Sep 2020 18:40:53 GMT
- request:
    method: get
    uri: https://storage.googleapis.com/storage/v1/b/staging.arkham-aad75.appspot.com
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.Ko8B2wcJfhTTBWAFb3P9lNWU3Snr3KT-kQ_XXPd1dQ4S3fwwLvXGzuNq57-mvcdbtQ36Jxkiv4KTFJ1fjewGmQxzXV38V-thx2_2ldePh3u-zM_hWX0KN0xBLKiNY8ToYeSvjG9-M6bN28JwDsWRm4mHbznAMBlmqjb31WjAJgbmHBsQ0AiUF01QQfWLNIRa_N8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - CAE=
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "storage#bucket",
          "selfLink": "https://www.googleapis.com/storage/v1/b/staging.arkham-aad75.appspot.com",
          "id": "staging.arkham-aad75.appspot.com",
          "name": "staging.arkham-aad75.appspot.com",
          "projectNumber": "525017335400",
          "metageneration": "1",
          "location": "US",
          "storageClass": "STANDARD",
          "etag": "CAE=",
          "timeCreated": "2020-08-30T23:44:39.100Z",
          "updated": "2020-08-30T23:44:39.100Z",
          "lifecycle": {
            "rule": [
              {
                "action": {
                  "type": "Delete"
                },
                "condition": {
                  "age": 15
                }
              }
            ]
          },
          "iamConfiguration": {
            "bucketPolicyOnly": {
              "enabled": false
            },
            "uniformBucketLevelAccess": {
              "enabled": false
            }
          },
          "locationType": "multi-region"
        }
  recorded_at: Wed, 02 Sep 2020 18:40:54 GMT
recorded_with: VCR 6.0.0
